{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="banner_post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner_post_1 banner_post_bg_1">
                        <div class="banner_post_iner text-center">
                            <a href="http://127.0.0.1:8000/article/detail/second-divided-from-form-fish-beast-made-every-of-seas-all-gathered-us-saying-he-our-2024-01-26/">
                                <h5> Creative & Design</h5>
                            </a>
                            <a href="http://127.0.0.1:8000/article/detail/second-divided-from-form-fish-beast-made-every-of-seas-all-gathered-us-saying-he-our-2024-01-26/">
                                <h2>All said replenish years void <br>
                                    kind say void </h2>
                            </a>
                            <p><span> By Michal</span> / March 30 , 2019</p>
                        </div>
                    </div>
                    <div class="banner_post_2 banner_post_bg_2">
                        <div class="banner_post_iner">
                            <a href="http://127.0.0.1:8000/article/detail/second-divided-from-form-fish-beast-made-every-of-seas-all-gathered-us-saying-he-our-2024-01-26/">
                                <h5> Creative & Design</h5>
                            </a>
                            <a href="http://127.0.0.1:8000/article/detail/second-divided-from-form-fish-beast-made-every-of-seas-all-gathered-us-saying-he-our-2024-01-26/">
                                <h2>Behold given land one first face fish which all said
                                    male fruit void king saying</h2>
                            </a>
                            <p><span> By Michal</span> / March 30 , 2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="feature_post">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                
                    {% for article in lst_three %}
                        <p>{{ article.id }}</p>
                        {% if article.id == 27 or article.id == 25 %}
                            <div class="single_feature_post post_1">
                                <div>
                                    <img src="{{ article.image.url }}" alt>
                                </div>
                                <div class="post_text_1 pr_30">
                                    <h5>creative design</h5>
                                    <a href="{% url 'article:detail' article.slug %}">
                                        <h3>{{ article.title }}</h3>
                                    </a>
                                    <p><span>By {{ article.author }}</span> / {{ article.created_date }}</p>
                                    <div class="post_icon">
                                        <ul>
                                            <li><i class="ti-comment"></i>2 Comment</li>
                                            <li><i class="ti-heart"></i>0 Like</li>
                                            <li><i class="ti-export"></i>Share</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        {% else %}
                            <div class="single_feature_post post_1 d-block d-sm-none d-lg-block">
                                <div class="post_text_1 pl_pr_30">
                                    <h5>{{ article.tags }}</h5>
                                    <a href="{% url 'article:detail' article.slug %}">
                                        <h3>{{ article.title }}</h3>
                                    </a>
                                    <p><span> By {{ article.author }}</span> / {{ article.created_date }}</p>
                                    <div class="post_icon">
                                        <ul>
                                            <li><i class="ti-comment"></i>2 Comment</li>
                                            <li><i class="ti-heart"></i>0 Like</li>
                                            <li><i class="ti-export"></i>Share</li>
                                        </ul>
                                    </div>
                                </div>
                                <img src="{{ article.image.url }}" alt>
                            </div>

                        {% endif %}

                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <div class="border_top"></div>

    <section class="all_post section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">.

                    {% for object in articles %}

                        <div class="single_post media post_3">
                            <div class="single_post_img">
                                <img src="{{ object.image.url }}" alt>
                                <a href="http://127.0.0.1:8000/article/detail/second-divided-from-form-fish-beast-made-every-of-seas-all-gathered-us-saying-he-our-2024-01-26/"
                                   class="category_btn">Tours & travel</a>
                            </div>
                            <div class="post_text_1 media-body align-self-center">
                                <p><span>By {{ object.author }}</span> / {{ object.created_date }}</p>
                                <a href="http://127.0.0.1:8000/article/detail/second-divided-from-form-fish-beast-made-every-of-seas-all-gathered-us-saying-he-our-2024-01-26/">
                                    <h3>{{ object.title }}</h3>
                                </a>
                                <div class="post_icon">
                                    <ul>
                                        <li><i class="ti-comment"></i>{{ object.comments.count }} Comment</li>
                                        <li><i class="ti-heart"></i>0 Like</li>
                                        <li><i class="ti-export"></i>Share</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    <div class="load_btn text-center">
                        <span class="step-links">
                            {% if articles.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ articles.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                            </span>

                            {% if articles.has_next %}
                                <a href="?page={{ articles.next_page_number }}">next</a>
                                <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="sidebar_widget">
                        <div class="sidebar_tittle">
                            <h3>Search Objects</h3>
                        </div>
                        <form action="{% url 'article:archive' %}">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input name="q" type="text" class="form-control" placeholder="Search Keyword"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="sidebar_tittle">
                            <h3>Popular Feeds</h3>
                        </div>
                        {% for foo in lst_three %}
                            <div class="single_catagory_post post_2 single_border_bottom">
                                <div class="category_post_img">
                                    <img src="{{ foo.image.url }}" alt>
                                </div>
                                <div class="post_text_1 pr_30">
                                    <p><span> By {{ foo.author }}</span> / {{ foo.created_date|date:'F d, Y' }}</p>
                                    <a href="#">
                                        <h3>{{ foo.title }}</h3>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="sidebar_tittle">
                        <h3>Categories</h3>
                    </div>

                    <div class="single_catagory_item category">
                        <ul class="list-unstyled">
                            {% for foo in categories %}
                                <li><a href="{% url 'article:category' %}?cat={{ foo.title }}">{{ foo.title }}({{ foo.article_set.count }})</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sidebar_tittle">
                        <h3>Popular Tags</h3>
                    </div>
                    <div class="single_catagory_item tags">
                        <ul class="list-unstyled">
                            {% for foo in tags %}
                                <li><a href="{% url 'article:category' %}?tag={{ foo.title }}">{{ foo.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

