{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Category Page</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="all_post section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    {% for article in articles %}
                        <div class="single_post media post_3">
                            <div class="single_post_img">
                                <img src="{{ article.image.url }}" alt>
                            </div>
                            <div class="post_text_1 media-body align-self-center">
                                <p><span> By {{ article.author }}</span> / {{ article.created_date }}</p>
                                <a href="http://127.0.0.1:8000/article/detail/second-divided-from-form-fish-beast-made-every-of-seas-all-gathered-us-saying-he-our-2024-01-26/">
                                    <h3>{{ article.title }}</h3>
                                </a>
                                <div class="post_icon">
                                    <ul>
                                        <li><i class="ti-comment"></i>N Comment</li>
                                        <li><i class="ti-heart"></i>N Like</li>
                                        <li><i class="ti-export"></i>Share</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="load_btn text-center">
                        <div class="pagination">
                            <span class="step-links">
                                {% if articles.has_previous %}
                                    <a href="?page=0">&laquo; first</a>
                                    <a href="?page={{ articles.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                                </span>

                                {% if articles.has_next %}
                                    <a href="?page={{ articles.next_page_number }}">next</a>
                                    <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="sidebar_widget">
                        <div class="sidebar_tittle">
                            <h3>Search Objects</h3>
                        </div>
                        <form action="{% url 'article:archive' %}">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input name="q" type="text" class="form-control" placeholder="Search Keyword"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="sidebar_tittle">
                            <h3>Popular Feeds</h3>
                        </div>
                        <div class="single_catagory_post post_2 single_border_bottom">

                            {% for last_three_article in last_three_articles %}
                                <div class="category_post_img">
                                    <img src="{{ last_three_article.image.url }}" alt>
                                </div>
                                <div class="post_text_1 pr_30">
                                    <p><span> By {{ last_three_article.author }}</span>
                                        / {{ last_three_article.created_date }}</p>
                                    <a href="http://127.0.0.1:8000/article/detail/second-divided-from-form-fish-beast-made-every-of-seas-all-gathered-us-saying-he-our-2024-01-26/">
                                        <h3>{{ last_three_article.title }}</h3>
                                    </a>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="sidebar_tittle">
                            <h3>Categories</h3>
                        </div>
                        <div class="single_catagory_item category">
                            <ul class="list-unstyled">

                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'article:category' %}?cat={{ category.title }}">{{ category.title }}({{ category.article_set.count }})</a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="sidebar_tittle">
                            <h3>Popular Tags</h3>
                        </div>
                        <div class="single_catagory_item tags">
                            <ul class="list-unstyled">

                                {% for tag in tags %}
                                    <li>
                                        <a href="{% url 'article:category' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

