{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Blog Single</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="blog_area single-post-area all_post section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">

                    <div class="single-post">
                        <div class="feature-img">
                            <img class="img-fluid" src="{{ article.image.url }}" alt="">
                        </div>

                        <div class="blog_details">
                            <h2>{{ object.title }}</h2>

                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="#"><i class="far fa-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                            </ul>

                            {% if not article.is_quote %}
                                <p>{{ article.content|striptags }}</p>
                            {% else %}
                                <div class="quote-wrapper">
                                    <div class="quotes">{{ article.content|striptags }}</div>
                                </div>
                            {% endif %}

                            {% for subarticle in subarticles %}

                                {% if subarticle.is_quote %}
                                    <div class="quote-wrapper">
                                        <div class="quotes">{{ subarticle.content|striptags }}</div>
                                    </div>
                                {% else %}
                                    <p>{{ subarticle.content|striptags }}</p>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>

                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span> Lily and
                                4 people like this</p>
                            <div class="col-sm-4 text-center my-2 my-sm-0">

                            </div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="blog-author">
                        <div class="media align-items-center">
                            {% if article.author.image %}
                                <img src="{{ article.author.image.url }}" alt>
                            {% endif %}
                            <div class="media-body">
                                <a href="#">
                                    <h4>{{ article.author.name }}</h4>
                                </a>
                                <p>Second divided from form fish beast made. Every of seas all gathered use saying
                                    you're, he our dominion twon Second divided from</p>
                            </div>
                        </div>
                    </div>

                    <div class="comments-area">
                        <h4>Comments</h4>
                        <div class="comment-list">
                            {% for comment in comments %}
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="comments-section">
                                        <div class="user justify-content-between d-flex mt-10">
                                            <div class="thumb">
                                                {% if comment.image %}
                                                    <img src="{{ comment.image.url }}" alt="">
                                                {% else %}
                                                    <img src="{% static 'img/60111.jpg' %}" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="desc">
                                                <p class="comment">
                                                    {{ comment.content }}
                                                </p>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <h5>
                                                            <a href="#">{{ comment.name }}</a>
                                                        </h5>
                                                        <p class="date">{{ comment.created_date }}</p>
                                                    </div>
                                                    <div class="reply-btn">
                                                        <a href="?cid={{ comment.id }}#comment-form-reply"
                                                           id="{{ comment.id }}"
                                                           class="btn-reply text-uppercase">reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if comment.children %}
                                    {% for child in comment.children %}
                                        <div class="comment-list" style="margin-left: 50px">
                                            <code>{{ child.name }} > {{ child.parent.name }} </code>
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb">
                                                        {% if child.image %}
                                                            <img src="{{ child.image.url }}">
                                                        {% else %}
                                                            <img src="{% static 'img/60111.jpg' %}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="desc">
                                                        <p class="comment">
                                                            {{ child.massage }}
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <h5>
                                                                    <code>{{ child.name }}</code>
                                                                </h5>
                                                                <p class="date">{{ child.created_date|date:'F d, Y \a\t P' }}</p>
                                                                <div class="reply-btn">
                                                                    <a href="?cid={{ child.id }}#comment-form-replay"
                                                                       id="{{ child.id }}"
                                                                       class="btn-reply text-uppercase">reply</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="comment-form" id="comment-form-reply">
                        <h4>Leave a Comment</h4>
                        <form method="post" class="form-contact comment_form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ comment_form.content }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ comment_form.name }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ comment_form.email }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ comment_form.image }}
                                    </div>
                                </div>
                            </div>
                            <div class="load_btn">
                                {#                                <a href="#" class="btn_1">SUBMIT <i class="ti-angle-right"></i></a>#}
                                <button type="submit" class="btn_1">SUBMIT <i class="ti-angle-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="sidebar_widget">
                        <div class="sidebar_tittle">
                            <h3>Search Objects</h3>
                        </div>
                        <form action="{% url 'article:archive' %}">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input name="q" type="text" class="form-control" placeholder="Search Keyword"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="sidebar_tittle">
                            <h3>Popular Feeds</h3>
                        </div>
                        {% for last in last_three %}
                            <div class="single_catagory_post post_2 single_border_bottom">
                                <div class="category_post_img">
                                    <img src="{{ last.image.url }}" alt>
                                </div>
                                <div class="post_text_1 pr_30">
                                    <p><span> By {{ last.author }}</span> / {{ last.created_date }}</p>
                                    <a href="http://127.0.0.1:8000/article/detail/second-divided-from-form-fish-beast-made-every-of-seas-all-gathered-us-saying-he-our-2024-01-26/">
                                        <h3>{{ last.title }}</h3>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}


                        <div class="sidebar_tittle">
                            <h3>Categories</h3>
                        </div>
                        <div class="single_catagory_item category">
                            <ul class="list-unstyled">
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'article:category' %}?tag={{ category.title }}">{{ category.title }}
                                            ({{ category.article_set.count }})</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="sidebar_tittle">
                            <h3>Popular Tags</h3>
                        </div>
                        <div class="single_catagory_item tags">
                            <ul class="list-unstyled">
                                {% for tag in tags %}
                                    <li><a href="{% url 'article:category' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}